.eBoard{
    /* display: flex;


    max-width: 100vh; 
    overflow-x: scroll; */

    display: flex;
    padding: 3rem;
    overflow-x: scroll;

    width: 100%;

    user-select: none;
    -webkit-user-drag: none;

    scrollbar-width: none;       /* Firefox */
    -ms-overflow-style: none;    /* IE and Edge */
 
    /* 
        disabling scroll
        (doesn't do any thing
        but i want the event listeners
        to handle all of it)
    */
    overscroll-behavior-x: none;

    padding-left: 0px;
    padding-right: 0px;

}

.eBoard::-webkit-scrollbar{
    display: none;               /* Chrome, Safari */
}

.eBoardCard{
    display: flex;
    position: relative;
    flex-direction: column;

    height: 350px;
    width: 250px;
    min-width: 250px;

    padding: 1.5rem;

    border-radius: 16px;
    /* background-color:blueviolet; */
    background-color: #1a0e31;
    box-shadow: -.5rem 0 1.5rem black;

    transition: 200ms;

}

.eBoardCard:focus-within~.eBoardCard, .eBoardCard:hover~.eBoardCard {
    transform: translateX(50px);
}

.eBoardCard:hover {
    transform: translateY(-1rem);
}

.eBoardCard:not(:first-child) {
    margin-left: -50px;
}

.MemberPhoto{
    height: 90%;
    display: block;
    object-fit: contain; /* or 'scale-down' if needed */
    border-radius: 16px;

}