@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rajdhani:wght@400;500;600&display=swap');

.typewriter{
    display: flex;
    /* justify-content: center; */
}

.typewriter p{
    /* margin-inline: auto; */
    overflow: hidden;

    white-space: nowrap;
    visibility: hidden; /* Hide it before animation starts */

    border-right: 1px solid;
    border-right-color: white;
}

.typewriter #greeting-girls-who{
    line-height: 1.8;

    width: 20rem;
}

.typewriter #greeting-girls-who p{
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;

    font-size: 5rem;
    

    animation: typing .5s steps(9) forwards 250ms, 
    disappear 1ms linear forwards 750ms;
    /* blink 0.5s step-end 2; */

    transform: translateY(50%) translate(-1%);
}

.typewriter #greeting-code{
    line-height: 14rem;
}

.typewriter #greeting-code p{
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
    font-style: normal;

    font-size: 16rem;
    

    animation: typing .5s steps(5) forwards 750ms,
    disappear 1ms linear forwards 1250ms;
}

.typewriter #greeting-hunter{
    transform: translateY(-40%) translateX(-3%);
}

.typewriter #greeting-hunter p{
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;

    font-size: 6rem;
    

    animation: typing .5s steps(5) forwards 1250ms, 
    blink 1s step-end infinite 1750ms;
}


@keyframes typing{
    from{
        width: 0;
        visibility: visible;
    }

    to{
        width: 100%;
        visibility: visible;
    }
}

@keyframes blink{
    0% { border-color: white; }
    50% { border-color: transparent; }
    100% { border-color: white; } 
}

@keyframes disappear{
    from{
        border-color: white;
    }
    to{
        border-color: transparent;
    }
}


/* ====================== */
/* Responsive design */
/* ====================== */

@media (max-width: 768px) {
    .typewriter #greeting-girls-who p {
        font-size: 4rem;
        transform: translateY(75%) translateX(-3%);
    }

    .typewriter #greeting-code p {
        font-size: 12rem;
    }

    .typewriter #greeting-hunter p {
        font-size: 5rem;
        transform: translateY(-20%) translateX(-6%);
    }
}

/* Small screens (phones) */
@media (max-width: 480px) {
    .typewriter #greeting-girls-who p {
        font-size: 3rem;

        transform: translateY(111%) translateX(-8%);
    }

    .typewriter #greeting-code p {
        font-size: 8rem;
    }

    .typewriter #greeting-hunter p {
        font-size: 4rem;
        
        transform: translateY(-50%) translateX(-10%);
    }
}